<a href="https://colab.research.google.com/github/sainathkrothapalli/Data-Analyst-Projects/blob/main/Data%20Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
d=pd.read_csv('/content/amazon_products.csv')
d.head()

,Title,Ratings,Total People Rated,Current Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",$45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",$36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",$46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",$34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",$39.95

Checking data shape

In [22]:
d.shape

(319, 4)

Changing column names

In [23]:
d.columns=['Title','Ratings','Total_people_rated','Price']
d.head()

,Title,Ratings,Total_people_rated,Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",$45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",$36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",$46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",$34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",$39.95

Price column

Removing $ sign and changing price column to float

In [24]:
d['Price']=d['Price'].str[1:]
d.Price=d.Price.astype('float')
d.Price

0      45.99
1      36.99
2      46.90
3      34.99
4      39.95
       ...
314    34.99
315    39.90
316    29.99
317    74.95
318    80.00
Name: Price, Length: 319, dtype: float64

Dropping duplicates

In [25]:
d.drop_duplicates(inplace=True)
d.reset_index(drop=True,inplace=True)
d

,Title,Ratings,Total_people_rated,Price
0,TIAMOU Men Running Walking Shoes Sport Athleti...,4.2 out of 5 stars,"9,013",45.99
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...",4.1 out of 5 stars,"1,473",36.99
2,TSIODFO Men's Sneakers Sport Running Athletic ...,4.3 out of 5 stars,"6,050",46.90
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,4.2 out of 5 stars,"4,109",34.99
4,Sperry Men's STRIPER II CVO Core Sneaker,4.6 out of 5 stars,"2,156",39.95
...,...,...,...,...
209,adidas Men's Unisex Adicross Zx Primeblue Spik...,4.1 out of 5 stars,57,68.00
210,adidas Unisex-Adult Dame 8 Basketball Shoe,5.0 out of 5 stars,8,93.94
211,Nike Men's Roshe G Tour Golf Shoes,4.4 out of 5 stars,370,84.99
212,PUMA Men's Ignite Fasten8 Pro Golf Shoe,4.6 out of 5 stars,225,76.84
213,Adidas Wrestling HVC Youth Laced Wrestling Sho...,4.6 out of 5 stars,"4,310",51.01

Ratings column

Considering only ratings value and changing the column to float

In [26]:
d['Rating']=d['Ratings'].str[:3]
d.drop(['Ratings'],axis=1,inplace=True)
d.Rating=d.Rating.astype('float')
d['Rating']

0      4.2
1      4.1
2      4.3
3      4.2
4      4.6
      ...
209    4.1
210    5.0
211    4.4
212    4.6
213    4.6
Name: Rating, Length: 214, dtype: float64

In [27]:
d.head()

,Title,Total_people_rated,Price,Rating
0,TIAMOU Men Running Walking Shoes Sport Athleti...,"9,013",45.99,4.2
1,"Rospick Slip On Men's Sneakers, Walking Shoes ...","1,473",36.99,4.1
2,TSIODFO Men's Sneakers Sport Running Athletic ...,"6,050",46.90,4.3
3,VAMJAM Men's Running Shoes Ultra Lightweight B...,"4,109",34.99,4.2
4,Sperry Men's STRIPER II CVO Core Sneaker,"2,156",39.95,4.6

Total_people_rated column

Removing ',' sign and changing column to integer type

In [35]:
def remove_comma(a):
  return a.replace(',','')
d.Total_people_rated=d.Total_people_rated.apply(remove_comma)

In [37]:
d.Total_people_rated.head()

0    9013
1    1473
2    6050
3    4109
4    2156
Name: Total_people_rated, dtype: object

In [39]:
d.Total_people_rated=d.Total_people_rated.astype('int')
d.Total_people_rated

0      9013
1      1473
2      6050
3      4109
4      2156
       ...
209      57
210       8
211     370
212     225
213    4310
Name: Total_people_rated, Length: 214, dtype: int64

Checking null values and column types using info method

In [40]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               214 non-null    object
 1   Total_people_rated  214 non-null    int64
 2   Price               214 non-null    float64
 3   Rating              214 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.8+ KB

Storing modified data into a CSV file

In [41]:
d.to_csv('D:\Cancer project\amazon_products_new1.csv', index=False, encoding='utf-8')